body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #232242;
  padding: 1rem;
  display: flex;
  margin: none;
}

header a {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  display: flex;
}

main {
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
  height: 650px;
  width: 350px;
  justify-content: space-between;
  height: 100%;
}

.product img {
  object-fit: contain;
  max-width: 350px;
  max-height: 350px;
}

.productInfo {
  padding: 1rem;
}