body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: #ffc000;
  color:#404040;
  border: none;
}

.btn-primary:hover {
  background-color: #e6ac00;
  color:#000000;
  border: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
  height: 650px;
  width: 350px;
  justify-content: space-between, center;
  height: 100%;
  align-items: center;
}

.product img {
  object-fit: contain;
  max-width: 345px;
  max-height: 350px;
  justify-content: center;
  align-items: center;
}

.productInfo {
  padding: 1rem;
}

.rating span {
  color: #ffc000;
}

#hello {
  color:#404040;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  max-height: 80px;
  max-width: 80px;
}